// npm install --save normalize.css reset css

:root {
  --primary: #fe2c55;
  --backGround-App: #6e00ff;
  --backGround-App2: #6e01fd;
  --text-color: #2b3036;
  --text-chat: #333;
  --Icon-Color: #fff;
  --backGround--page: #f3f6ff;
  //defaultLayout
  --default-layout-Nav-height: 60px;
}
@font-face {
  font-family: fontMain;
  src: url("../../assets/font/roboto/Roboto-Regular.ttf");
}
@font-face {
  font-family: fontUtm;
  src: url("../../assets/font/fontUTM/UTM\ Swiss\ Condensed.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body {
  background-image: linear-gradient(
    var(--backGround-App),
    var(--backGround-App2)
  );
  background: url("../../assets/images/login.jpg") top center/ cover no-repeat;

  display: flex;
  align-items: center;
  height: 100vh;
  width: 100% !important;
  // font-family: fontUtm;
  font-family: fontMain;
  font-size: 1.6rem;
  // letter-spacing: 1px;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  color: var(--text-color);
  scrollbar-width: none;
}
@media (max-width: 739px) {
  body {
    // padding-right: 0px;
  }
}
#root {
  width: 100%;
}
button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
li {
  list-style: none;
}
.autoCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}
