$bOrgeTransparent: #fff4e6;
$bPinkTransparent: #fff0f7;
$widthModal: 250px;
$widthModal: 250px;
@mixin mobile {
  @media screen and (max-width: 739px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 740px) and (max-width: 1023px) {
    @content;
  }
}
.wrapper {
  background-color: #fff;
  border-radius: 30px;
  display: flex; //thêm
  flex-direction: column; //thêm
  // padding: 33.33px 20px 0 20px;
  padding-top: 33.33px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  @include mobile {
    // width: 100% !important;
    // height: 100%;
    // justify-content: center;
    align-items: center;
    position: relative;
  }

  .closeModal {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 12px;
    left: 10px;
    .closeModal--icon {
      font-size: 2rem;
      color: var(--backGround-App);
    }
  }
  // overflow: hidden;
  .infoUser {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    width: $widthModal;
    user-select: none;
    // bug nhảy dòng khi close modal
    // width: $widthModal;
    .avatar {
      // display: none;
      width: 70px;
      height: 70px;
      border-radius: 50%;
      overflow: hidden;
      border: 3.5px solid #fff;
      margin-bottom: 20px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
      img {
        width: 100%;
        border-radius: 50%;
        // border: 9px solid rgb(19, 173, 27);
      }
    }
    .nameUser {
      font-size: 2rem;
    }
  }
  .controlRoom {
    padding: 0 18px;
    //bug nhảy dòng khi close modle
    width: $widthModal;
    // width: 100%;
    .controlList {
      .setting {
        background-color: $bOrgeTransparent;
        .icon {
          color: #e5a730;
        }
      }
      .nickName {
        background-color: $bOrgeTransparent;
        .icon {
          color: #afe530;
        }
      }
      .image {
        background-color: $bPinkTransparent;
        .icon {
          color: #c383a5;
        }
      }

      .controlItem {
        // flex-direction: ;
        border-radius: 20px;
        margin-bottom: 16px;
        padding: 0 10px;
        position: relative;
        cursor: pointer;
        .boxBug {
          display: flex;
          align-items: center;
          padding: 8px 0;
          .iconOpen {
            color: #848589;
            position: absolute;
            right: 15px;
            font-size: 1.2rem;
            // rotate: -90deg;
            transition: 0.3s ease-in-out;
          }
          .wrappIcon {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 5px;

            .icon {
            }
          }
        }

        .content {
          font-size: 1.4rem;
          font-weight: 600;
          user-select: none;
        }
      }
    }
  }
}
