@mixin mobile {
  @media screen and (max-width: 739px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 740px) and (max-width: 1023px) {
    @content;
  }
}

.wrapper {
  background-color: var(--backGround--page);
  height: 100%;
  display: flex;
  padding: 15px;
  border-radius: 30px;
  //   flex: 1;
  @include mobile {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 0 8px var(--default-layout-Nav-height) 8px;

    padding-bottom: var(--default-layout-Nav-height);
  }
  .controlChat {
    // flex: 1;
    display: flex;
    flex-direction: column;
    width: 250px;
    background-color: #fff;
    padding: 15px 0;
    border-radius: 30px;
    overflow: hidden;
    // box-shadow: 5px 20px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 10px 0px 20px rgba(0, 0, 0, 0.01);

    @include mobile {
      flex: 1;
    }
    .wrapperControl {
      padding: 0 15px;
      .createNew {
        display: flex;
        align-items: center;
        // height: 53px;
        padding: 6.5px 0;
        padding-left: 12px;
        cursor: pointer;
        // margin-bottom: 26px;

        .createPlus {
          width: 40px;
          height: 40px;
          background-color: #f3f6ff;
          border-radius: 50%;
          margin-right: 20px;
          .creatPlusIcon {
            font-size: 1.6rem;
            color: var(--backGround-App);
          }
        }

        .create__title {
          font-size: 1.6rem;
        }
      }
      .wrapperTitle {
        // height: 70px;
        padding: 16.25px 0;
        padding-left: 12px;
        display: flex;
        align-items: center;
        @include mobile {
          padding: 10px 0;
          padding-left: 12px;
        }
        @include tablet {
          padding: 5px 0;
          padding-left: 12px;
        }
        .title__Chat {
          font-size: 2.5rem;
        }
      }
      .wrapperSearch {
        // height: 40px;
        padding: 13px 0;
        width: 100%;
        position: relative;
        background-color: #f3f6ff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;

        .searchText {
          width: 80%;
          background-color: transparent;
          height: 100%;
          font-size: 1.2rem;
          padding-left: 16px;
          color: #8f97a4;
          @include mobile {
            font-size: 1.3rem;
          }
        }
        .searchIcon {
          margin-right: 10px;
          color: #8f97a4;
          font-size: 1.3rem;
          @include mobile {
            margin-right: 10px;
            color: #8f97a4;
            font-size: 1.5rem;
          }
        }
      }
    }
    .wrapperListUser::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .wrapperListUser {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
    .wrapperListUser {
      overflow-y: scroll;
      .Loading {
        display: flex;
        align-items: center;
        height: 53.3px;
      }
      .user {
        display: flex;
        align-items: center;
        height: 53.3px;
        transition: 0.3s ease-in-out;
        padding: 0 15px;
        &:hover {
          background-color: #ccc;
        }
        .avata {
          width: 50px;
          height: 50px;
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
        }

        .user__display {
          padding-top: 1px;

          .user__name {
            font-size: 1.5rem;
            // font-weight: 400;

            line-height: 1.5rem;
          }
          .user__chatHistory {
            font-size: 1rem;
            color: #8f97a4;
            display: flex;
            justify-content: space-between;
            p {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
  .rooms {
    flex: 1;
    // background-color: aqua;
    display: flex;
    @include mobile {
      flex: 0;
    }
  }
  .ModalInfoChat {
    // flex: 1;
    display: flex;
    overflow: hidden;
    border-radius: 30px;
    box-shadow: -10px 0px 20px rgba(0, 0, 0, 0.01);
    // display: none;
    // background-color: var(--backGround--page);
  }
}
