@mixin mobile {
  @media screen and (max-width: 739px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 740px) and (max-width: 1023px) {
    @content;
  }
}

.message__chat {
  display: flex;
  align-items: flex-end;
  // margin-top: auto;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0px;
  }
  &:hover .boxText .optionTextMessage {
    display: flex;
  }

  .focus {
    display: flex !important;
  }
  .boxTextDeletedMessage {
    background-color: var(--backGround--page);
    padding: 6px 12px;
    // padding-bottom: 8px;
    border-radius: 20px;
    max-width: 60%;
    margin-top: 5px;
    position: relative;
    border: 1px solid #838383;
    width: fit-content;
    .deletedMessage {
      // background-color:;
      span {
        color: #838383;
      }
    }
  }
  .boxText {
    background-color: var(--backGround-App);
    padding: 15px;
    padding-bottom: 8px;
    border-radius: 20px;
    max-width: 60%;
    margin-top: 5px;
    position: relative;

    .optionTextMessage {
      position: absolute;
      right: 100%;
      // width: 50px;
      margin: 0 5px;
      display: flex;
      align-items: center;
      top: 50%;
      transform: translateY(-50%);
      justify-content: space-around;
      display: none;
    }

    .textMessage {
      font-size: 1.4rem;
      color: #fff;
      word-break: break-word;
    }
    .textTime {
      font-size: 1rem;
      color: #8f97a4;
    }
  }
  .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    img {
      border-radius: 50%;

      height: 100%;
      width: 100%;
    }
  }
}
.messageChat {
  display: flex;
  flex-direction: column-reverse;
  flex: 1;
  // background-color: aqua;
  // margin-bottom: 20px;
  &:hover .imgMessage .imgMessageOptions {
    display: flex;
  }
  .imgMessage {
    max-width: 60%;
    // max-height: 200px;
    // // width: max-content;
    // // overflow: hidden;
    // border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    // position: relative;
    // width: 80%;
    .imgMessageOptions {
      // position: absolute;
      display: flex;
      // display: none;
      flex-direction: row-reverse;
    }

    @include mobile {
      max-height: 150px;
      // max-width: 40%;
    }
    @include tablet {
      // max-width: 40%;
    }
    img {
      width: max-content;
      max-width: 60%;
      max-height: 200px;
      min-height: 150px !important;
      border-radius: 10px;
      object-fit: cover;
      cursor: pointer;
      @include mobile {
        max-height: 100px;
      }
      @include tablet {
        max-width: 100%;
      }
    }
  }

  .boxText {
    background-color: var(--backGround-App);
    padding: 15px;
    padding-bottom: 8px;
    border-radius: 20px;
    max-width: 60%;
    margin-top: 5px;
    width: fit-content;
    position: relative;
    .optionTextMessage {
      left: 100%;
      width: 65px;
      margin: 0 5px;
      justify-content: flex-end;
      flex-direction: row-reverse;
    }
    .textMessage {
      font-size: 1.4rem;
      color: #fff;
      word-break: break-word;
    }
    .textTime {
      font-size: 1rem;
      color: #8f97a4;
    }
  }
  .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    margin-right: 10px;
    width: 40px;
    height: 40px;
    img {
      border-radius: 50%;
      height: 100%;
      width: 100%;
    }
  }
}
.user {
  flex-direction: column;
  &:hover .imgMessage .imgMessageOptions {
    display: flex;
  }
  .imgMessage {
    max-width: 60%;
    max-height: 200px;
    width: max-content;
    // overflow: hidden;
    border-radius: 10px;
    position: relative;
    .imgMessageOptions {
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      display: none;
    }
    @include mobile {
      max-height: 150px;
    }
    @include tablet {
      // max-width: 40%;
    }
  }

  img {
    // width: max-content;
    // max-width: 60%;
    // max-height: 200px;
    // width: 100%;
    border-radius: 10px;
    object-fit: cover;

    // min-height: 150px !important;
    @include mobile {
      // max-height: 150px;
      // width: 150px;
      // height: 80px;
    }
    @media screen and (max-width: 400px) {
      width: 130px;
    }
    @include tablet {
      max-width: 100%;
    }
  }
  .textTime {
    // float: left;
    text-align: right;
  }
}

.buttonControlText {
  // background-color: aqua;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;

  &:hover {
    background-color: #8f97a4;
  }
  &:hover .icon {
    color: #696969;
  }
  .icon {
    color: #8f97a4;
    font-size: 1.4rem;
  }
}

.boxRemove {
  width: 100px !important;
  border-radius: 10px;
  // border: 1px solid #838383;
  // background-color: #fff;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 10%);
  border: 4px solid var(--backGround--page);
  // padding: 5px;
  overflow: hidden;
  .removeMessage {
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    &:hover {
      background-color: #dbdbdb;
    }
    span {
      font-size: 1.5rem;
      font-weight: 500;
      color: #000;
      text-shadow: 0 0 rgb(129, 129, 129);
    }
  }
}
.boxListIcon {
  width: 250px;
  height: 48px;
  padding: 8px 15px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
  background-color: var(--backGround--page) !important;
  border-radius: 40px;
  .listIcon {
    width: 100%;
    display: flex;
    // background-color: aqua;
    justify-content: space-between;
    .icon {
      width: 28px !important;
      height: 28px !important;
      cursor: pointer;
      &:hover img {
        transform: scale(1.2);
        // background-color: transparent !important;
      }

      img {
        width: 28px;
        height: 28px;
        max-width: 100%;
        transition: 0.2s ease-in-out;
      }
    }
  }
}
