@mixin mobile {
  @media screen and (max-width: 739px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 740px) and (max-width: 1023px) {
    @content;
  }
}
.chooseButton {
  // height: 50px;

  cursor: pointer;
  .addFile-icon {
    margin-left: 20px;
    margin-right: 15px;
    color: var(--backGround-App);
    font-size: 22px;
  }
}
.wrapperTextMessage {
  // background-color: #8f97a4;
  // min-height: 50px;
  display: flex;
  align-items: center;
  flex: 1;
  height: 100%;

  .inputMessage::-webkit-scrollbar {
    display: none;
  }
  input {
    // flex: 1;
    background-color: var(--backGround--page-white);
    width: 100%;
    @include mobile {
      font-size: 1.6rem;
    }
  }
  .inputMessage {
    //   background-color: transparent;
    height: fit-content;
    // background-color: #8f97a4;
    width: 100%;
    padding-left: 5px;
    // font-size: 1.3rem;
    border: none;
    outline: none;
    max-height: 100px;
    overflow-y: auto;
  }
}

.sendMessage {
  // height: 50px;
  // background-color: aqua;
  // display: flex;
  // align-items: flex-end;

  cursor: pointer;
  .send--icon {
    color: var(--backGround-App);
    font-size: 22px;
    margin-right: 20px;
    margin-left: 15px;
  }
}
