@mixin mobile {
  @media screen and (max-width: 739px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (min-width: 740px) and (max-width: 1023px) {
    @content;
  }
}
.wrapperEmojiMessage {
  padding: 16px;
  .listTypeEmoji {
    display: flex;
    height: 60px;
    @include mobile {
      height: 30px;
    }
    align-items: center;
    .emoji {
      width: 14.28%;
      height: 100%;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      @include mobile {
        font-size: 12px;
        text-align: center;
      }
      img {
        // padding-bottom: 2px;
        width: 22px;
        height: 22px;
      }
      .countEmoji {
        padding-left: 3px;
        // color: #8f97a4;
        // font-size;
      }
    }
    .line {
    }
  }
  .listEmoji {
    height: 240px;
    overflow-y: scroll;
    @include mobile {
      height: 120px;
    }
  }
}
